#container-portfolio img {
  max-height: 250px;
  max-width: 100%;
}

.align-left {
  text-align: left;
}

.tools-style {
  padding: 3%;
}

/* mobile */
@media all and (max-width: 768px){

  #container-portfolio {
    width: 100%;
    margin: auto;
  }

  #container-portfolio > ul > li {
    margin-bottom: 1rem;
  }

}

/* monitor */
@media all and (min-width: 769px){

  #container-portfolio {
    width: 100%;
    margin: auto;
  }

  #container-portfolio ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    gap: 2em;
  }

}