#container-skills {
  min-height: 100vh;
  min-width: 300px;
  max-width: 35%;
  margin: auto;
  font-size: 1.25rem;
}

/* mobile */
@media all and (max-width: 768px){

  #skill-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    place-items: center;
    gap: 2%;
    margin-bottom: 1rem;
  }

  .skill-img {
    margin-bottom: 1rem;
    height: 100%;
    width: 100%;
  }

}

/* monitor */
@media all and (min-width: 769px){

  #skill-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    place-items: center;
    gap: 20px;
  }

  .container-skill {
    place-self: center;
  }

  .container-skill:hover {
    transform: scale(0.9);
  }

  .skill-img {
    margin-bottom: 1rem;
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
  }

  .container-skill > figcaption {
    transition: opacity 300ms ease-in-out;
  }

  .hide-caption {
    opacity: 0;
  }

}