.background-offwhite {
  background-color: #F7F7F7
}

.dark-grey {
  color: #6C7680
}

.grey {
  color: #959DA6
}

.green {
  color: #86B300
}

.dark-blue {
  color: #399EE6
}

.blue {
  color: #55B4D4
}

.orange {
  color: #FF9940
}

.dark-orange {
  color: #FA8D3E
}

.purple {
  color: #A37ACC
}